body {
  background-color: #faf9f9; }

#jumbotron {
  background-color: #1b1b1b;
  color: #faf9f9; }

a {
  color: #faf9f9; }

footer {
  background-color: black;
  text-decoration: none;
  padding: 20px 10px 10px 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center; }

#prod {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em; }

h2,
h3 {
  color: #33200b; }

address p,
Products p {
  color: #faf9f9; }

#icon {
  background-color: #faf9f9;
  border: none;
  color: #080808;
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 50%; }

#icon:hover {
  background-color: #141414; }

#icon:hover {
  color: white; }

.card-img-top {
  width: 9em;
  align-self: center; }

/* Red border */
hr.new1 {
  border-top: 1px solid #faf9f9; }

img {
  width: 100%;
  margin-top: 0%; }
