$yellow: #faf3be;
$red: #f20a34;
$green: #03fc4e;
$blanquito: #faf9f9;

@mixin titulos {
  color: #33200b;
}

body {
  background-color: $blanquito;
}

#jumbotron {
  background-color: rgb(27, 27, 27);
  color: $blanquito;
}

a {
  color: $blanquito;
}

footer {
  background-color: rgb(0, 0, 0);

  text-decoration: none;
  padding: 20px 10px 10px 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}

#prod {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

h2,
h3 {
  @include titulos;
}

address p,
Products p {
  color: $blanquito;
}

#icon {
  background-color: $blanquito;
  border: none;
  color: rgb(8, 8, 8);
  padding: 6px 9px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 50%;
}

#icon:hover {
  background-color: rgb(20, 20, 20);
}
#icon:hover {
  color: white;
}

.card-img-top {
  width: 9em;
  align-self: center;
}

/* Red border */
hr.new1 {
  border-top: 1px solid $blanquito;
}

img {
  width: 100%;
  margin-top: 0%;
}
